/* ====== GERAL ======================================== */
:root {
  --primary-color: #000;
  --headline: #000;
  --paragraph: #000;
  --brand-light: #fbf9f5;
  --bg-light: hsla(180, 14%, 97%, 1);

  font-size: 62.5%;

  --nav-height: 6.67rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  background-color: var(--bg-light);
}

.wrapper {
  width: min(70rem, 100%);
  margin-inline: auto;
  padding: 0.5rem 1rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.button {
  background: white;

  padding: 1.8rem 10rem;
  padding: 0.9rem 6rem;

  border: none;
  border-radius: 5rem;

  font-size: 3rem;
  font-weight: 700;
  color: #222;

  text-decoration: none;

  transition: background 200ms;
}

.button:hover {
  background-color: #cfcfcf;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 5.4rem;
  color: #eeeeee;
  line-height: 100%;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

/* ====== NAVIGATION ======================================== */
nav {
  height: calc(var(--nav-height) - 3rem);

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: black;
}

nav .wrapper {
  display: grid;
  margin-inline: auto;
  padding-inline: 3rem;
  margin-top: 0.6rem;

  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'A B';
}

nav .logo {
  color: white;
  font-size: 0.5rem;
  text-align: left;
}

nav .wrapper .col-a {
  grid-area: 'A';
  align-self: center;
}

nav .wrapper .col-b {
  grid-area: 'B';
}

nav .menu .col-b ul {
  display: flex;
  flex-direction: row;

  margin-top: -0.75rem;

  justify-content: flex-end;
}

nav .menu ul li a {
  color: white;

  font-size: 0.7rem;

  opacity: 0.7;
  transition: opacity 250ms;
  margin-left: 1rem;
  text-decoration: none;
}

nav .menu ul li a:hover {
  opacity: 1;
}

nav .menu li a:hover {
  opacity: 1;
}

/* ====== HOME ======================================== */
#home {
  background-color: var(--primary-color);
}

#home .button {
  margin-inline: auto;
}

#home h1 {
  margin-bottom: 3rem;
}

#home p {
  font-size: 1.8rem;
  color: #eeeeee;

  line-height: 150%;
  font-weight: 400;

  margin-bottom: 8rem;
}

/* ====== SERVICES ======================================== */
#services header {
  margin-bottom: 5rem;
}

#services header h4 {
  margin-bottom: 1.6rem;
}

#services header h2 {
  margin-bottom: 2.75rem;

  font-size: 3.5rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;

  width: 80%;

  align-self: center;

  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;

  font-size: 2.75rem;
}

/* ====== HEADER ======================================== */
#header {
  background-color: #000;
  padding-block: 7rem;
  width: 100vw;
}

#header h2 {
  text-transform: uppercase;
  display: inline;

  color: white;
  font-size: 2rem;
  opacity: 0.9;

  margin-bottom: 1rem;
}

#header h12 {
  color: red;
}

#header p {
  color: white;

  font-size: 1.2rem;

  margin-bottom: 3rem;
}

#header .button {
  display: inline-block;

  padding: 1.3rem 4.3rem;

  text-transform: uppercase;
  font-size: 1.4rem;

  background-color: red;
}

/* ====== HOWTO ======================================== */
#howto .wrapper {
  text-align: center;
  padding: 1rem;
}

#howto header {
  margin-bottom: 8rem;
}

#howto header h2 {
  font-size: 4.25rem;

  margin-bottom: 1.8rem;
}

#howto header p {
  color: rgb(102, 102, 102);

  font-size: 2rem;
}

#howto .content .item h3 {
  font-size: 2.85rem;
  margin-bottom: 2rem;
}

#howto .content .item p {
  color: rgb(102, 102, 102);
}

#howto .content .items-row-a,
#howto .content .items-row-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#howto .content .item {
  margin-bottom: 5rem;
}

#howto header {
  margin-bottom: 8rem;
}

#howto header h2 {
  font-size: 4.25rem;

  margin-bottom: 1.8rem;
}

#howto header p {
  color: rgb(102, 102, 102);

  font-size: 2rem;
}

#howto .content .item h3 {
  font-size: 2.85rem;
  margin-bottom: 2rem;
}

#howto .content .item p {
  color: rgb(102, 102, 102);
}

/* ====== FOOTER ======================================== */
footer {
  background-color: var(--primary-color);

  padding: 6rem;
}

/* ====== RESPONSIVE ======================================== */
@media (min-width: 300px) {
  #header .content h2 {
    font-size: 2.5rem;
  }

  #header .content p {
    font-size: 1.4rem;
  }
}
@media (min-width: 350px) {
  nav#navigation {
    height: calc(var(--nav-height) - 1.3rem);
  }

  nav#navigation .wrapper {
    margin-top: 1rem;
  }

  nav#navigation .logo {
    font-size: 0.7rem;
  }

  nav#navigation .menu ul {
    margin-top: -0.4rem;
  }

  nav#navigation .menu a {
    font-size: 1rem;
  }

  #header .content h2 {
    font-size: 3rem;
  }

  #header .content p {
    font-size: 1.5rem;
  }
}

@media (min-width: 400px) {
  nav#navigation {
    height: calc(var(--nav-height) - 1rem);
  }

  nav#navigation .wrapper {
    margin-top: 1rem;
  }

  nav#navigation .logo h2 {
    font-size: 1rem;
    color: white;
  }

  nav#navigation .menu ul {
    margin-top: -0.2rem;
  }

  nav#navigation .menu a {
    font-size: 1.2rem;
  }

  #header .content h2 {
    font-size: 3.3rem;
  }
}

@media (min-width: 450px) {
  #header h2 {
    font-size: 4rem;
  }
}

@media (min-width: 600px) {
  #header h2 {
    font-size: 4.8rem;
  }

  #howto .wrapper {
    text-align: center;
    padding: 1rem;
  }

  #howto header {
    margin-bottom: 8rem;
  }

  #howto header h2 {
    font-size: 4.25rem;

    margin-bottom: 1.8rem;
  }

  #howto header p {
    color: rgb(102, 102, 102);

    font-size: 2rem;
  }

  #howto .content .item h3 {
    font-size: 2.85rem;
    margin-bottom: 2rem;
  }

  #howto .content .item p {
    color: rgb(102, 102, 102);
  }

  #howto .content .items-row-a,
  #howto .content .items-row-b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  #howto .item {
    margin-bottom: 5rem;

    width: 50%;
  }
}

@media (min-width: 710px) {
  #header h2 {
    font-size: 6.8rem;
  }

  #services header h2 {
    font-size: 3.5rem;
    margin-inline: auto;
    margin-bottom: 2.75rem;
  }

  #services header p {
    margin-bottom: 6rem;
  }

  #services .cards {
    flex-direction: column;
    gap: 4rem;
  }

  #services .card img {
    position: relative;
    z-index: 2;
    margin-left: 80%;
    margin-top: 10%;
  }

  #services .card h3 {
    font-size: 3rem;
    text-align: left;
    width: 18rem;
    margin-top: -5rem;
  }

  #services .card p {
    color: rgb(102, 102, 102);
    text-align: left;
  }

  #services .card {
    height: 25rem;
    width: min(80rem, 80%);
    align-self: center;
  }
}

@media (min-width: 1000px) {
  /* ====== GERAL ======================================== */
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(122rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 8rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
    color: var(--headline);
  }

  /* ====== RESET ================== */
  nav#navigation div.wrapper * {
    margin: 0;
    padding: 0;
    position: initial;
    display: initial;
    font-size: initial;
    font-weight: initial;
    background: initial;
    opacity: initial;
    color: initial;
    visibility: initial;
    transform: initial;
    flex-direction: initial;
    position: initial;
    filter: initial;
  }

  nav#navigation .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: -0.6rem;
    margin-inline: auto;

    padding-inline: 3rem;

    height: var(--nav-height);
  }

  nav#navigation .wrapper .col-a {
    grid-area: 'A';
    align-self: left;
  }

  nav#navigation .logo h2 {
    color: white;
    text-align: left;
    font-size: 1.8rem;
  }

  nav#navigation .wrapper .col-b {
    grid-area: 'B';
  }

  nav#navigation .menu .col-b ul {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
  }

  nav#navigation .menu ul li a {
    color: white;

    opacity: 0.7;
    transition: opacity 250ms;
    margin-left: 1rem;
    text-decoration: none;
  }

  nav#navigation .menu ul li a:hover {
    opacity: 1;
  }

  nav#navigation .menu li a:hover {
    opacity: 1;
  }

  /* ====== HOME ======================================== */
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home .wrapper {
    width: 60rem;
  }

  #home {
    padding-top: 22rem;
  }

  #home header h1 {
    font-size: 7.4rem;
  }

  #home .button {
    margin: auto;
  }

  /* ====== SERVICES ======================================== */
  #services header h2 {
    margin-inline: auto;
    margin-bottom: 2rem;
  }

  #services header p {
    margin-bottom: 6rem;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card img {
    position: relative;
    z-index: 2;
    margin-left: 80%;
    margin-top: 10%;
  }

  #services .card h3 {
    font-size: 3rem;
    text-align: left;
    width: 18rem;
    margin-top: -5rem;
  }

  #services .card p {
    color: rgb(102, 102, 102);
    text-align: left;
  }

  #services .card {
    height: 28rem;
    width: 30%;
    flex-grow: 1;
  }

  /* ====== HEADER ======================================== */
  #header {
    background-color: #000;
    padding-block: 7rem;
  }

  #header .content h2 {
    text-transform: uppercase;

    color: white;
    font-size: 6.8rem;
    opacity: 0.9;

    margin-bottom: 1rem;
  }

  #header h12 {
    color: red;
  }

  #header .content p {
    color: white;

    font-size: 2rem;

    margin-bottom: 3rem;
  }

  #header .button {
    display: inline-block;

    padding: 1.3rem 4.3rem;

    text-transform: uppercase;
    font-size: 1.4rem;

    background-color: red;
  }

  /* ====== HOW-TO ======================================== */
  #howto .wrapper {
    text-align: center;
    padding: 1rem;
  }

  #howto header {
    margin-bottom: 8rem;
  }

  #howto header h2 {
    font-size: 4.25rem;

    margin-bottom: 1.8rem;
  }

  #howto header p {
    color: rgb(102, 102, 102);

    font-size: 2rem;
  }

  #howto .content .wrapper .items-row-a,
  #howto .content .items-row-b {
    display: flex;
    justify-content: center;
    gap: 19rem;
  }

  #howto .content .item {
    width: 30rem;
    margin-bottom: 5rem;
  }

  #howto .content .item h3 {
    font-size: 2.85rem;
    margin-bottom: 2rem;
  }

  #howto .content .item p {
    color: rgb(102, 102, 102);
  }

  /* ====== FOOTER ======================================== */
}
